.button-register-transition{
    background:black ;
    transition: all 600ms ease;
}
.button-register-transition:hover{
    background-color: gray;
    color:black ;
    box-shadow: 0 0 0 2px black;
    
}
.button-go-to-login-transition{
    background:black ;
    transition: all 400ms ease;
}
.button-go-to-login-transition:hover{
    color:darkgray ;

}

.start{
    text-align: start;
    font-size: small;
    color:darkred;
    
}
.span-required{
    display:none;
}

.form-field{
    margin-bottom: 10px;
    width:85%;
    height:15%;
    align-items: center;
    align-content: center;
}

.register-input{
    width:100%;
    border-radius:5px;
    border: solid gray 1px;
    height:50%;
    padding-left: 4%; 
}

.register-text{
  text-align: start;
    font-size: large;
}
.register-button{
    background-color: black;
    color:white;
    width:100%;
    height: 50%;
  
 }

 .form-register{
    background-color: white;
    width:100%;
    border-radius:10px;
    height: 100%;
    padding-top:5%;
    padding-left: 12%;
}

.container1{
    height:600px;
    width:55%;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0 auto;
    margin-top: 5%;
}

@media(min-width:1200px){
    .container1{
        height:600px;
        width:35%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        margin: 0 auto;
        margin-top: 5%;
    }

}